body {
    margin: 0;
    background-color: rgb(29, 29, 29);
    font-family: 'Oswald', sans-serif;
}

.main-wrap {
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr 160px;
    min-height: 100vh;
    max-height: 100%;
}

.centre {
    margin: auto;
    max-width: 1440px; 
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation */
nav {
    background-color: white;
}

nav .centre {
    height: 70px;
    display: grid;
    grid-template-columns: 70px 5fr 1fr 1fr 1fr;
    column-gap: 1%;
}

.nav-link {
    justify-self: center;
    font-weight: 600;
    font-size: 18px;
}

a.nav-link:hover {
    color: rgb(100, 100, 100);
}

.nav-link, .nav-title {
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    grid-column: 1 / 2;
}

nav h2 {
    margin: 0;
    align-self: center;
}

.selected {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}

.footer-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    color: rgb(150, 150, 150);
}

.footer-main a {
    color: rgb(102, 102, 102);
    text-decoration: none;
    margin: 16px 0;
    display: block;
}

.contact a {
    color: white;
    display: inline-block;
    margin: 0 2px;
}

.contact p {
    margin-bottom: 5px;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa:hover, .footer-main a:hover {
    opacity: 0.7;
}

footer .copyright {
    background-color: #0d0d0d;
    color: #4c4c4c;
}

.copyright p {
    padding: 0 5%;
}

/* Content */
.content {
    padding-bottom: 48px;
}

.hero {
    background-color: black;
}

.hero h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 100px;
}

.hero a {
    text-decoration: none;
    color: white;
}

section[role=main] {
    padding: 0 10px;
    color: white;
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 2%;
    column-gap: 5%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .cards {
        grid-template: 1fr 1fr 1fr / 1fr;
    }

}

.card {
    justify-self: center;
    text-decoration: none;
    color: white;
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card h3 {
    text-transform: uppercase;
}

.index .card:hover {
    color: rgb(161, 161, 161);
}

/* About page */
.about .hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/aboutushero.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.about h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.about .title h2 {
    padding: 120px 0;
    font-size: 40px;
}

.about .info {
    padding: 60px 10px;
    background-color: rgb(17, 17, 17);
}

.about .intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 5%;
    column-gap: 5%;
}

.about .intro .card {
    padding: 5%;
}

.about .intro h1.card {
    text-transform: uppercase;
    align-self: center;
    font-size: 2em;
}

.profile {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    margin: 60px 10px;
    column-gap: 2%;
    row-gap: 4%;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */

    .profile {
        display: flex;
        flex-direction: column;
    }

    .profile div {
        margin: 10px;
    }

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .about .intro {
        display: flex;
        flex-direction: column;
    }

    .about .hero-img {
        height: 150px;
    }

    .about .title h2 {
        padding: 45px 0;
    }

}

.about .instant-img p {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.profile h2 {
    background-color: white;
    color: black;
}

.factfile {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.factfile li {
    margin: 10px;
}

.questions {
    text-transform: uppercase;
    font-weight: bold;
}

.answers li {
    list-style: none;
    text-align: right;
}

uo.answers {
    color: rgb(207 207 207);
}

/* Music page: popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.popup-inner {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.popup-img {
    background-image: url(images/popup.jpg);
    background-size: cover;
    background-position: center;
}

.popup-txt {
    padding: 30px;
    text-align: center;
    align-self: center;
}

.popup-txt h3 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.popup-txt p {
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 30px;
    color: #5c5c5c;
}

.popup-txt p.close-popup {
    color: #b6b6b6;
    margin-top: 10px;
}

.popup-txt img.close-popup {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1%;
}

.popup-txt .close-popup:hover {
    cursor: pointer;
}

input[type=submit], input[type=text] {
    border: none;
    padding: 16px 32px;
    margin: 10px 0;
    width: 250px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    background-color: #236287;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

input[type=text] {
    background-color: lightgray;
    color: grey;
}

/* Music page: content */
.title-tour h1, .title-tour h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.title-tour h1 {
    font-size: 50px;
    padding: 40px 0;
    background-color: black;
    color: white;
    
}

.title-tour h2 {
    font-size: 30px;
    padding: 30px 0;
    background-color: #242424;
    color: #b6b6b6;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.albums .card {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 2%;
    margin: 0 10px 3% 10px;
    padding: 20px;
}

.instant-img {
    justify-self: center;
    background-color: white;
    padding: 10px;
    align-self: center;
}

.album-txt {
    padding: 20px;
    box-sizing: border-box;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .albums .card {
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
    }

    .albums .instant-img {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .album-txt {
        padding: 0;
    }
}

p.greytxt {
    color: rgb(215 215 215);
}

.read-more {
    text-align: center;
    margin: 10px 0;
}

.read-more a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
}

.read-more a:hover {
    opacity: 0.3;
}

/* Tour page */
#tour-body {
    background-color: black;
}

.centre-tour {
    margin: auto;
    max-width: 800px;
}

#main-tour {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 100%);
    padding: 50px;
    box-sizing: content-box;
    margin-bottom: 20px;
}

#show-title {
    background-color: #a89465;
    margin-bottom: 8px;
}

.show {
    display:grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .show {
        column-gap: 1%;
    }

}

.show p {
    margin: 0;
}

.tickets {
    justify-self: right;
    text-transform: uppercase;
}

.tickets a {
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.tickets a:hover {
    background-color: #756747;
    color: white;
}

.soldout {
    background-color: rgb(102, 102, 102);
    color:rgb(41, 41, 41);
    cursor: not-allowed;
    padding: 5px;
}

.bold {
    font-weight: bold;
    text-transform: uppercase;
}

.capitalise {
    text-transform: capitalize;
}

button {
    outline: none;
}

/* Animated hamburger icon by Jonathan Suh */
.hamburger {
    padding: 11px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}

.hamburger:hover {
    opacity: 0.7; 
}

.hamburger.is-active:hover {
    opacity: 0.7; 
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #000; 
}
  
.hamburger-box {
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative; 
}
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

.hamburger--squeeze .hamburger-inner {
transition-duration: 0.075s;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--squeeze.is-active .hamburger-inner {
transform: rotate(45deg);
transition-delay: 0.12s;
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}
/* End of Suh's burger icon*/

.hamburger, .burgermenu {
    display: none;
}

.hamburger {
    position: absolute;
    right: 0;
    top: 12px;
}

.burgermenu {
    font-weight: 600;
    list-style: none;
    background-color: white;
    text-align: center;
    padding-bottom: 5px;
}

.burgermenu li {
    padding: 2.5px 0;
}

.burgermenu a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    nav .centre {
        grid-template-columns: 70px 1fr 61px;
    }

    .nav-link {
        display: none;
    }

    .hamburger {
        display: inherit;
    }
}

.active {
    display: inherit;
}

@media only screen and (min-width: 768px) {
    /* For bigger than phones: */

    .active.phone {
        display: none !important;
    }
}