body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.wrapper {
    min-height: 100vh;
    padding-bottom: 160px;
    position: relative;
    box-sizing: border-box;
}

header {
    background-color: white;
}

.centre {
    margin: auto;
    max-width: 1440px; 
}

.centreTour {
    margin: auto;
    max-width: 800px;
}

.navigation {
    height: 70px;
    display: grid;
    grid-template-columns: 70px 5fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    column-gap: 1%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navigation {
        column-gap: 2%;
    }
}

.navlink {
    justify-self: center;
    font-weight: 600;
    font-size: 18px;
}

a.navlink:hover {
    color: rgb(100, 100, 100);
}

.header {
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

 .navigation img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    grid-column: 1 / 2;
}

.navigation h2 {
    grid-column: 2 / 3;
    margin: 0;
    align-self: center;
}

#about {
    grid-column: 3 / 4;
}

#music {
    grid-column: 4 / 5;
}

#tour {
    grid-column: 5 / 6;
}

.selected {
    text-decoration: underline;
}

main {
    padding: 0 10px;
    color: white;
    box-sizing: border-box;
}

.title {
    font-size: 50px;
    padding: 40px 0;
    margin: 0 10px;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.titlebg {
    background-color: black;
}

.subtitle {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 28px;
}

.albums {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 2%;
    margin: 2% 10px;
}

.album {
    justify-self: center;
    background-color: white;
    padding: 10px;
    align-self: center;
}

.albumtxt {
    padding: 20px;
    box-sizing: border-box;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .albums {
        grid-template: 1fr 1fr / 1fr;
    }
}


.albumtxt h3 {
    text-align: center;
}

.albumtxt a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
}

.albumtxt a:hover {
    opacity: 0.3;
}

.readmore {
    text-align: center;
    margin: 10px 0;
}

.music hr {
    border-color: rgb(102, 102, 102);
}

.hero {
    background-color: black;
}

.hero h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.hero a {
    text-decoration: none;
    color: white;
}

#herotxt {
    padding-top: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.cards {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr ;
    margin: 40px 2%;
    column-gap: 5%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .cards {
        grid-template: 1fr 1fr 1fr / 1fr;
    }

}

.card {
    justify-self: center;
    text-decoration: none;
    color: white;
    background-color: rgb(26, 26, 26);
    text-align: center;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card h3 {
    text-transform: uppercase;
}

.card.index:hover {
    color: rgb(161, 161, 161);
}

footer {
    background-color: rgb(20, 20, 20);
    height: 136px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerContent {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.footertxt {
    color: rgb(150, 150, 150);
    justify-self: center;
}

.footerContent a {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.sublink {
    display: block;
    margin-bottom: 16px;
}

a.footertxt {
    margin-top: 16px;
}

.contact a {
    color: white;
}

.contact p {
    margin-bottom: 5px;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
    margin: 0 2px 16px 2px;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa:hover, .footerContent a:hover {
    opacity: 0.7;
}

#showtitle {
    background-color: #a89465;
}

.show {
    display:grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .show {
        column-gap: 1%;
    }

}

.show p {
    margin: 0;
}

.tickets {
    justify-self: right;
    text-transform: uppercase;
}

.tickets a {
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.tickets a:hover {
    background-color: #756747;
    color: white;
}

.soldout {
    background-color: rgb(102, 102, 102);
    color:rgb(41, 41, 41);
    cursor: not-allowed;
    padding: 5px;
}

.bold {
    font-weight: bold;
    text-transform: uppercase;
}

.capitalise {
    text-transform: capitalize;
}

.tourmain {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 100%);
    padding: 50px;
    box-sizing: content-box;
    margin-bottom: 20px;
}

#tourbody {
    background-color: black;
}

.aboutus h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.abouttitle h2 {
    margin: 0 0 20px 0;
    padding: 20px 0;
}

.intro {
    display: grid;
    grid-template: 1fr / 1.5fr 1fr;
    margin: 0 5%;
    column-gap: 5%;
}

.introelem {
    padding: 5%;
}