body {
    margin: 0;
    background-color: rgb(29, 29, 29);
    font-family: 'Oswald', sans-serif;
}

.main-wrap {
    display: grid;
    grid-template-rows: 70px 1fr 160px;
    height: 100vh;
}

.centre {
    margin: auto;
    max-width: 1440px; 
}

nav {
    background-color: white;
}

nav .centre {
    height: 100%;
    display: grid;
    grid-template-columns: 70px 5fr 1fr 1fr 1fr;
    column-gap: 1%;
}

.nav-link {
    justify-self: center;
    font-weight: 600;
    font-size: 18px;
}

a.nav-link:hover {
    color: rgb(100, 100, 100);
}

.nav-link, .nav-title {
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    grid-column: 1 / 2;
}

nav h2 {
    margin: 0;
    align-self: center;
}

.content {
    /* ... */
}

footer {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}

.footer-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    color: rgb(150, 150, 150);
}

.footer-main a {
    color: rgb(102, 102, 102);
    text-decoration: none;
    margin: 16px 0;
    display: block;
}

.contact a {
    color: white;
    display: inline-block;
    margin: 0 2px;
}

.contact p {
    margin-bottom: 5px;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa:hover, .footer-main a:hover {
    opacity: 0.7;
}

footer .copyright {
    background-color: #0d0d0d;
    color: #4c4c4c;
}

.copyright p {
    padding: 0 5%;
}